body {
  font-family: monospace;
  min-height: 200px
}

.container {
  margin: 10px;
  padding: 10px;
}

.push {
  background-color: rgba(blue, 0.3);
}

.push:hover {
    background-color: rgba(yellow, 0.3);
  }


footer {
  margin-top: 10px;
  text-align: center;
  color: black;
  background-color: gray;
  font-size: 12px;
  text-shadow: 1px 1px 3px yellow;
}

.game_section {
  background-color: gray;
  display: none;
  padding-bottom: 50px;
}

.board_section {
  background-color: blue;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 0 auto
}

.score_board {
  margin: 20px;
  font-size: 16px;
  padding: 10px;
  font-shadow: 1px 1px 5px yellow;
}

.board_square {
	margin: 0 auto;
  text-align: center;
  font-family: monospace;
  font-size: 60px;
	width: 100px;
	height: 100px;
	background-color: crimson;
	margin-top: 0;
	float: left;
	border: gray 2px solid;
  & :hover {
    background-color: yellow;
  }
}

.board_square:hover {
	background-color: red;
}

  @media (max-width: 400px) {
    .board_square {
      width: 60px;
      height: 60px;
      font-size: 40px;
    }
    .board_section {
      width: 180px;
      height: 180px;
    }
    .board_square:hover {
    	background-color: #821516;
    }
  }
