body {
  font-family: monospace;
}

.contrainer {
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;

}

.game_section {
  background-color: gray;
  display: none;
  padding-bottom: 50px;
}

.board_section {
  background-color: blue;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 0 auto
}

.score_board {
  margin: 20px;
  font-size: 16px;
  padding: 10px;
  font-shadow: 1px 1px 5px yellow;
}

.board_square {
	margin: 0 auto;
  text-align: center;
  font-family: monospace;
  font-size: 60px;
	width: 100px;
	height: 100px;
	background-color: crimson;
	margin-top: 0;
	float: left;
	border: gray 2px solid;
}

.board_square:hover {
	background-color: #821516}
