.messages {
  background-color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  font-family: monospace;
  text-shadow: 1px 1px 3px yellow;
  font-size: 16px;
  border: 2px solid black;
}

@media (max-width: 400px) {
  .messages .display-all-games .display-one-game .instruction-box{
    width: 90%;
    color: red;
  }
}

.display-all-games {
  background-color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  min-height: 30px;
  min-width: 200px;
  width: auto;
  height: auto;
  font-family: monospace;
  font-size: 16px;
  border: 2px solid black;
}

.display-one-game {
  background-color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  min-height: 30px;
  min-width: 200px;
  width: auto;
  height: auto;
  font-family: monospace;
  font-size: 16px;
  border: 2px solid black;
}

div.instruction-box {
  background-color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  height: auto;
  font-family: monospace;
  font-size: 16px;
  border: 2px solid black;
}
